

input{
    width: 300px;
}

form{
    margin-top: 80px;
    /* margin-left: 400px; */
}
label{
    font-weight: bold;
}

button{
    border-radius: 20px 0px 20px 0px;
    font-weight: bold;
}

h2{
    font-weight: bold;
    color: darkblue;
}
img{
    margin-top: 50px;
    height: 600px;
}

input.ng-invalid.ng-touched{
    border-color: red;
}